<div class="panel panel-default">
<div class="panel-body">
<div class="list-group">
<a href="#" class="list-group-item">
<h4 class="list-group-item-heading">Petar Ivacic</h4>
<p class="list-group-item-text"><button type="button" class="btn btn-default btn-xs">Follow</button></p>
</a><a href="#" class="list-group-item">
<h4 class="list-group-item-heading">Marko Cotic</h4>
<p class="list-group-item-text"><button type="button" class="btn btn-default btn-xs">Follow</button></p>
</a><a href="#" class="list-group-item">
<h4 class="list-group-item-heading">Uros Predic</h4>
<p class="list-group-item-text"><button type="button" class="btn btn-default btn-xs">Follow</button></p>
</a><a href="#" class="list-group-item">
<h4 class="list-group-item-heading">Stevan Perovic</h4>
<p class="list-group-item-text"><button type="button" class="btn btn-default btn-xs">Follow</button></p>
</a>
</div>
</div>
</div>
