<div class="panel panel-default">
  <div class="panel-body">
		<div class="jumbotron">
						  <div class="container">
						    <h1>Map</h1>
						    <p>...</p>
			   
						  </div>
						</div>
						<p>
						  <button type="button" class="btn btn-default btn-xs">Follow</button>
						  <button type="button" class="btn btn-default btn-xs">Like</button>
						  <button type="button" class="btn btn-default btn-xs">Dislike</button>
						  <button type="button" class="btn btn-default btn-xs">Comment</button>
						</p>
  </div>