<div class="navbar-fixed-top">
        <div class="container">
			<div class="header">
			        <ul class="nav nav-pills pull-right">
			          <li class="active"><a href="#">Log In</a></li>
			        </ul>
			        <h3 class="text-muted">
						<%= image_tag("logo-med.png", class: 'transparent', height: '52', width: '52')  %>
						frabbit</h3>
			      </div>
        </div>
      </div>