<%= render  'welcome/nav' %>
<div id="wrap">
	<div class="container" id="push-bottom" style=" padding-top: 200px;">
<div class="transparent">

<h1>Discover new workouts,<br>
	reach your fitness goals<br>
	 with the people you care<br> about.</h1>
<p class="lead"></a></p>
</div>
</div>  
	 


